@model OrdemManutencaoModel
@{
    ViewData["Title"] = "Cadastro de máquinas";
}

<br />

<div class="text-center">
    <h1 class="display-6">CADASTRO DE ORDEM DE MANUTENÇÃO</h1>
    <p></p>
</div>

<br />

<form asp-controller="CadastroOrdemManutencao" asp-action="CadastroOrdemManutencaoPost" method="post>

    <div class="form-group">

        <label for="Nome">Motivo:</label>
        <input type="text" required="true" style="text-transform:uppercase" asp-for="Motivo" class="form-control" placeholder="Informe o motivo da manutenção.">

        <br />

        <label for="Nome">Descrição da Manutenção:</label>
        <input type="text" required="true" style="text-transform:uppercase" asp-for="Observacao" class="form-control" placeholder="Informe mais detalhes sobre a manutenção realizada.">

        <br />

        <label for="Nome">Id do Setor:</label>
        <input type="text" required="true" style="text-transform:uppercase" asp-for="Setor" class="form-control" placeholder="Informe o Id do setor afetado.">

        <br />

        <label for="Nome">Id da Máquina:</label>
        <input type="text" required="true" style="text-transform:uppercase" asp-for="Maquina" class="form-control" placeholder="Informe o Id da máquina.">

        <br />

        <label for="Nome">Horas de Funcionamento:</label>
        <input type="text" required="true" style="text-transform:uppercase" asp-for="HorasFuncionamento" class="form-control" placeholder="Informe as horas de funcionamento prevista.">

        <br />

        <label for="Nome">Tempo Necessário:</label>
        <input type="text" required="true" style="text-transform:uppercase" asp-for="TempoExecucao" class="form-control" placeholder="Informe o tempo previsto para realizar.">

        <br />

        <body>
            <form>
                <label for="datetime">Data e Hora:</label>
                <input type="datetime-local" id="datetime" name="datetime">
            </form>
        </body>

        <br />

        <button type="submit" class="btn btn-primary">PROCESSAR</button>

        <div class="btn-group" role="group">
            <a role="button" class="btn btn-secondary" asp-controller="Home" asp-action="Index">CANCELAR</a>
        </div>

    </div>

</form>