@model MaquinaModel
@{
    ViewData["Title"] = "Cadastro de máquinas";
}

<br />

<div class="text-center">
    <h1 class="display-6">CADASTRO DE MÁQUINA</h1>
    <p></p>
</div>

<br />

<form asp-controller="CadastroMaquina" asp-action="CadastroMaquinaPost" method="post>

    <div class="form-group">
        <label for="Codigo">Código da Máquina:</label>
        <input type="text" required="true" style="text-transform:uppercase" asp-for="CodigoIdentificacao" class="form-control" placeholder="Informe o código interno.">

        <br />

        <label for="Codigo">Horas de Funcionamento:</label>
        <input type="text" required="true" style="text-transform:uppercase" asp-for="HorasFuncionamento" class="form-control" placeholder="Informe a quantidade de horas de funcionamento.">

        <br />

        <label for="status">Status:</label>
        <label class="status-label">
            <input type="radio" name="status" value="ativo" required>
            Ativo
        </label>
        <label class="status-label">
            <input type="radio" name="status" value="inativo" required>
            Inativo
        </label>

        <br />
        <br />

        <button type="submit" class="btn btn-primary">PROCESSAR</button>

        <div class="btn-group" role="group">
            <a role="button" class="btn btn-secondary" asp-controller="Home" asp-action="Index">CANCELAR</a>
        </div>
    </div>


</form>