@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartFix - Controle de Manutenção de Máquinas Industriais</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <header class="jumbotron">
        <div class="container">
            <h1 class="display-4">Bem-vindo(a) ao SmartFix</h1>
            <p class="lead">Solução completa para o controle de manutenção de máquinas industriais.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais</a>
        </div>
    </header>

    <section class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="img/service1.jpg" class="card-img-top" alt="Serviço 1">
                    <div class="card-body">
                        <h5 class="card-title">Manutenção Preventiva</h5>
                        <p class="card-text">Realizamos inspeções regulares para evitar falhas e garantir o bom funcionamento das máquinas.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="img/service2.jpg" class="card-img-top" alt="Serviço 2">
                    <div class="card-body">
                        <h5 class="card-title">Manutenção Corretiva</h5>
                        <p class="card-text">Atuamos prontamente para solucionar problemas emergenciais e minimizar o tempo de parada.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="img/service3.jpg" class="card-img-top" alt="Serviço 3">
                    <div class="card-body">
                        <h5 class="card-title">Assistência Técnica</h5>
                        <p class="card-text">Conte com nossa</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
