@model SetorModel
@{
    ViewData["Title"] = "Cadastro de setor";
}

<br />

<div class="text-center">
    <h1 class="display-6">CADASTRO DE SETOR</h1>
    <p></p>
</div>

<form asp-controller="CadastroSetor" asp-action="CadastroSetorView" method="post">

    <div class="form-group">
        <input type="hidden" asp-for="Id" class="form-control" placeholder="Informe o código do produto.">

        <label for="Nome">Nome do Setor:</label>
        <input type="text" required="true" style="text-transform:uppercase" asp-for="Nome" class="form-control" placeholder="Informe o nome do setor.">

        <br />

        <button type="submit" class="btn btn-primary">PROCESSAR</button>

        <div class="btn-group" role="group">
            <a role="button" class="btn btn-secondary" asp-controller="Home" asp-action="Index">CANCELAR</a>
        </div>
    </div>

</form>